.nav-bar-name {
    background: #4aaaa5;
    height: 100px;
    color: #ffffff;
    font-size: 32px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#a-tag-about, #a-tag-contact, #a-tag-portfolio {
    text-decoration: none;
    color: #afafaf;
}
#a-tag-about:hover,#a-tag-contact:hover,#a-tag-portfolio:hover {
    color: #6e6e6e;
    font-size: 17px;
}
#container-2 {
    height: 50px;
    background-image: url("../images/circles-light.png");
}

#left-div, #right-div {
    background-image: url("../images/circles-light.png");
}

#container-4 {
    background-color: #4aaaa5;
    height: 10px;
}

#container-footer {
    height: 100px;
    background-color: #666666;
}

#h2-about-me, #h2-contact-me,#h2-portfolio{
    /*border: 2px solid darkmagenta;*/
    color: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h3{
    /* border: 2px solid green; */
    width:200px;
    height: 35px;;
    margin-bottom:5px;
    text-align: center;
    background-color:#4aaaa5;
    color:white;
    line-height: 40px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    color: #777777;
    line-height: 30px;
}

hr {
    padding: 0;
    margin: 0;
    background-color: #cccccc;
}

.img-size{
    width:200px;
    height:200px;

}

.button{
    background-color:#4aaaa5;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

